<html>
  <head>
    <title>私のサイト</title>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
    <% if content_for?(:assets) %>
      <div><%= yield_content :assets %></div>
    <% end %>    
    <%= partial "footer" %>
  </body>
</html>
